#info-page {
    display: flex;
    flex-direction: column;
    color: black;
    padding: 10% 40% 8% 25%;
    font-size: 16px;
    font-family: var(--secondary-font);
}

#info-item-0{
    font-size: 16px;
}

#info {
    display: flex;
    flex-direction: column;
    width: 40vw;
    justify-content: center;
    text-align: justify;
}

span {
    color: #b0a82c;}

.info-item{
    margin-top: 2%;
}

#contact {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
    margin-top: 14%;
}

.contact-item{
    margin: 0% 2% 0% 2%;
    border-bottom: black solid 1px;

}

.contact-item-0{
    margin-right: 2%;
    border-bottom: black solid 1px;
}

a{
    color:black;
    text-decoration: none;
}


a:hover{
    color: #b0a82c;
    text-decoration: none;
}


@media (max-width:990px){
    #info-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 15%;
        color: black;
        font-size: 16px;
    }
    
    #info {
        width: 18em;
        padding-left: 40%;
        text-align: start;
    }
    
    .info-item{
        margin-top: 8%;
    }
    
    #contact {
        text-decoration: none;
        color: black;
        margin-top: 35%;
        text-align: start;
    }
    
    .contact-item{
        margin: 0% 2% 0% 2%;
    }
    
    .contact-item-0{
        margin-right: 2%;
    }
    
    a{
        color: black;
        text-decoration: none;
    }
}