#info-page {
    display: flex;
    flex-direction: column;
    color: blue;
    padding: 13% 40% 8% 25%;
    font-size: 18px;
    font-family: 'Oxygen Mono', monospace;

}

#info-item-0{
    font-size: 22px;
}

#info {
    display: flex;
    flex-direction: column;
    width: 40vw;
    justify-content: center;
    text-align: justify;
}

.info-item{
    margin-top: 2%;
}

#contact {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: blue;
    margin-top: 18%;
}

.contact-item{
    margin: 0% 2% 0% 2%;
}

.contact-item-0{
    margin-right: 2%;
}

a{
    color:blue;
    text-decoration: none;
}

a:hover{
    color: #D6CB1F;
    text-decoration: none;
}

@media (max-width:990px){
    #info-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 22%;
        color: blue;
        font-size: 18px;
    }
    
    #info {
        width: 18em;
        padding-left: 40%;
        text-align: start;
    }
    
    .info-item{
        margin-top: 10%;
    }
    
    #contact {
        text-decoration: none;
        color: blue;
        margin-top: 40%;
    }
    
    .contact-item{
        margin: 0% 2% 0% 2%;
    }
    
    .contact-item-0{
        margin-right: 2%;
    }
    
    a{
        color:blue;
        text-decoration: none;
    }
}