#navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fcfcf2c1;
    height: 30px;
    width: auto;
    font-size: 14px;
    font-family: var(--secondary-font);
    padding: 2%;
}


/* @media (max-width: 990px) {
    #navigation {
    display: none;
    }
} */

