#navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffffc1;
    height: 30px;
    width: auto;
    font-size: 12px;
    font-family: var(--secondary-font);
    padding: 1%;
}

Link{
    border-bottom: none;
}

